<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <form method="POST" action="/suppliers/new">
    <div class="form-field">
      <label for="supplierName">Supplier Name: </label>
      <input type="text" name="supplierName" id="supplierName" autofocus>
    </div>
    <input type="submit" value="Create new Category" class="btn btn-green">
  </form>
</div>

<%- include("../partials/footer") %>