<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <form method="POST" action="/suppliers/new">
    <div>
      <label for="supplierName">Supplier Name: </label>
      <input type="text" name="supplierName" id="supplierName">
    </div>
    <div>
      <input type="submit" value="Create new Category">
    </div>
  </form>
</div>

<%- include("../partials/footer") %>