<%- include("partials/header") %>

<h1><%= locals.title %></h1>

<div class="index-logo-wrapper">
  <img src="/food-reshot.svg" alt="Svg of 2 apples; company logo" class="index-logo">
</div>

<%- include("partials/footer") %>