<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div><a href="/inventory/products/new" class="btn">Register New Product</a></div>
<div><a href="/inventory/shipment/new" class="btn">Register New Shipment</a></div>

<%- include("../partials/footer") %>