<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div class="inventory-index">
  <h4 class="inventory-index-new-section-header">Register New</h4>
  <div class="inventory-index-new-section">
    <div class="inventory-index-btn"><a href="/inventory/products/new" class="btn">Register New Product</a></div>
    <div class="inventory-index-btn"><a href="/inventory/shipment/new" class="btn">Register New Shipment</a></div>
    <div class="inventory-index-btn"><a href="/views/categories/new" class="btn">Register New Category</a></div>
    <div class="inventory-index-btn"><a href="/views/suppliers/new" class="btn">Register New Supplier</a></div>
  </div>
</div>

<%- include("../partials/footer") %>