<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<form method="POST" action="/inventory/shipments/new">
  <div class="form-field">
    <label for="shipmentDate">Shipment Date: </label>
    <input type="date" name="shipmentDate" id="shipmentDate" autofocus>
  </div>
  <input type="submit" value="Register New Shipment">
</form>

<%- include("../partials/footer") %>