html {
  background-color: gainsboro;
  font-size: 20px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.nav-bar {
  width: 100%;
  background-color: steelblue;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.nav-bar-links {
  padding: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

footer {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.footer-div {
  background-color: lightblue;
  text-align: center;
  padding: 0.5rem;
  border: 0.5px solid black;
}